{#
 # Copyright 2006 - 2015 TubePress LLC (http://tubepress.com/)
 #
 # This file is part of TubePress Pro.
 #
 # License summary
 #   - Can be used on 1 site, 1 server
 #   - Cannot be resold or distributed
 #   - Commercial use allowed
 #   - Can modify source-code but cannot distribute modifications (derivative works)
 #
 # Please see http://tubepress.com/license for details.
 #
 #}
<form accept-charset="utf-8">
	<fieldset>

        {# Do not remove or alter the "id" attribute of this input. #}
		<input type="text" id="js-tubepress-ajax-search-input-{{ widgetId }}" />

        {# Do not remove or alter the "id" attribute of this input. #}
		<button id="js-tubepress-ajax-search-button-{{ widgetId }}" title="Submit Search">
            {{ "Search"|trans }}
		</button>

	</fieldset>
</form>

{# Do not remove the following JS block #}
<script type="text/javascript">
    var tubePressDomInjector = tubePressDomInjector || [],
            tubePressAjaxSearch = tubePressAjaxSearch || [];
    tubePressDomInjector.push(['loadJs', 'web/js/ajaxSearch.js']);
    tubePressAjaxSearch.push(['register', '{{ widgetId }}', {{ galleryOptionsAsJson|raw }}]);
</script>